# Virtual environment
/myenv/

# Python bytecode
*.pyc
*.pyo
*.pyd

# Ignore all __pycache__ directories and their contents
__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/

# Database
db.sqlite3

# Django migrations
exam_management/migrations/*
!exam_management/migrations/__init__.py

# IDE-specific files (optional)
.vscode/
.idea/

# OS-specific files (optional)
.DS_Store
Thumbs.db